/* Reset ringan */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.content {
  padding: 20px;
}

/* Judul */
.content h1 {
  margin-bottom: 15px;
  color: #1f2937;
}

/* Table */
.content table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  font-size: 14px;
}

/* Hilangkan border bawaan HTML */
.content table,
.content th,
.content td {
  border: none;
}

/* Header */
.content thead tr,
.content table tr:first-child {
  background-color: #f3f4f6;
}

.content th {
  padding: 14px;
  text-align: left;
  color: #374151;
  text-transform: uppercase;
  font-size: 12px;
}

/* Body */
.content td {
  padding: 12px 14px;
  color: #4b5563;
  vertical-align: top;
}

/* Garis antar baris */
.content tbody tr {
  border-bottom: 1px solid #e5e7eb;
}

/* Hover */
.content tbody tr:hover {
  background-color: #f9fafb;
  transition: 0.2s;
}

/* Kolom sinopsis biar rapi */
.content td:nth-child(3) {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Aksi */
.content a {
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
}

/* Tombol hapus */
.content a[href*="hapus"] {
  background-color: #ef4444;
  color: #fff;
}

.content a[href*="hapus"]:hover {
  background-color: #dc2626;
}

/* Tombol edit */
.content a[href*="edit"] {
  background-color: #3b82f6;
  color: #fff;
}

.content a[href*="edit"]:hover {
  background-color: #2563eb;
}

.content .buku {
  display: inline-block;
  margin-bottom: 12px;

  background-color: #2563eb;
  color: white;

  padding: 10px 16px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.content .buku:hover {
  background-color: #1d4ed8;
}

